:root {
  --branding-color: #af49bf;
  --heading-font-family: "Playair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --primary-color: #f4ebeb;
  --secondary-color: #fcf7f7;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
}

.container {
  padding: 0;
  margin-left: 20px;
  margin-right: 0;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}
nav {
  padding: 20px 0;
}

nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}
nav a:hover,
nav li.active a {
  color: var(--branding-color);
}

header {
  background-color: var(--primary-color);
}

#logo {
  color: #e83a3a;
}
h1 {
  color: black;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 96px;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 64px;
}

p {
  line-height: 2;
  font-weight: normal;
  font-size: 15px;
}
.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 15px;
}

.hero p {
  font-family: var(--default-font-family);
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}
.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  font-size: 15px;
  line-height: 2;
  color: #272142;
}
.btn-branding {
  color: #fffcfc;
  text-align: center;
  line-height: 27px;
  padding: 14px 28px;
  font-family: Playfair Display;
  border-radius: 15px;
  background: rgba(125, 74, 165, 0.37);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.btn-branding-outline {
  text-align: center;
  line-height: 27px;
  padding: 14px 28px;
  border-radius: 15px;
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  text-decoration: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.btn-branding-outline:hover {
  background: rgba(125, 74, 165, 0.37);
  color: #fffcfc;
  border: none;
}

.project-description {
  padding: 120px 60px 0;
}

@media (max-width: 900px) {
  h1 {
    font-size: 54px;
  }
  h2 {
    font-size: 44px;
  }
  .hero {
    padding: 80px 20px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
}
